/* Преимущества */
.benefits {
    margin-bottom: calc(-1 * var(--margin-gap));

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.benefits__thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:var(--background-color-grey);
    width: 100%;
    height: 120px;
    margin-bottom: var(--margin-gap);
    border-radius: 4px;
}
   
.benefits__item {    
    margin-bottom: var(--margin-gap);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - var(--margin-gap)) / 2);

        &:nth-child(odd) {
            margin-right: var(--margin-gap);      
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * var(--margin-gap)) / 4);
        margin-bottom: 0;
        
        &:not(:last-child) {
            margin-right: var(--margin-gap);
        } 
    }
}  

.benefits__title {
    color: var(--color-black);

    @extend %uppercase-font;

    margin-bottom: 10px;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}