// Глобальный стиль кнопки
.button {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;

    &:hover,
    &:focus {
        background-color: var(--color-btn-hover);
    }
}

// Кнопка мобильного меню
.burger-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 5;
}

.burger-button .burger-button__close {
    display: none;
}

.burger-button.is-open .burger-button__menu {
    display: none;
}

.burger-button.is-open .burger-button__close {
    display: block;
}


// Кнопка героя
.hero__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    // transition: background-color var(--duration) var(--cubic);
    @include transition (background-color);
}
// Кнопки модалки
.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    // transition: fill var(--duration) var(--cubic);
    @include transition (fill);

    &:hover {
        fill: var(--color-blue);
    }
}

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

// Кнопки портфолио
.filter__button {
    background-color: var(--background-color-grey);
    color: var(--color-black);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

    transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--color-blue);
        color: var(--color-white);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

// Кнопка футера
.sign-up__button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    fill: var(--color-white);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}

.sign-up__text {
    margin-right: 10px;
}