// /* Постоянные клиенты */
.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    flex-basis: calc((100% - var(--margin-gap)) / 2);
    height: 92px;
    
    &:nth-child(2n - 1) {
        margin-right: var(--margin-gap); 
        
        @media screen and (min-width: 768px) {
            margin-right: 0;
        }
    }

    &:not(:nth-last-child(-n + 2)) {
        margin-bottom: var(--margin-gap);

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    } 

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * var(--margin-gap)) / 3);
        
        &:not(:nth-child(3n)) {
            margin-right: var(--margin-gap);   
        }

        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: var(--margin-gap);

            @media screen and (min-width: 1200px) {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 5 * var(--margin-gap)) / 6);
        
        &:not(:last-child) {
            margin-right: var(--margin-gap);
        }
    }
}

.clients__link {
    fill: var(--icon-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    width: 100%;
    height: 100%;
    
    display: flex;  
    justify-content: center;
    align-items: center;

    transition: border-color var(--duration) var(--cubic), fill var(--duration) var(--cubic);
    
    &:hover,
    &:focus {
        border-color: var(--color-blue);
        fill: var(--color-blue);
    }
}