/* Футер */
.footer {
    background-color: var(--footer-color);
    padding: 60px 0;
}

.footer__conteiner {
    display: flex;
    align-items: baseline;
}

.footer__contacts {
    margin-right: 70px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: var(--color-white);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    // transition: color var(--duration) var(--cubic);
    @include transition (color);

    &:hover,
    &:focus {
        color: var(--color-blue);
    }
    
    &--transparent { 
        color: rgba(255, 255, 255, 0.6);
    }
}


.sign-up {
    margin-left: auto;
    
}
.sign-up__form {
    display: flex;
}

.sign-up__label {
    margin-right: 12px;
}

.sign-up__input {
    background-color: transparent;
    width: 358px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    padding: 15px 16px;
    
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
    transition: border-color var(--duration) var(--cubic), fill var(--duration) var(--cubic);
    
    &:focus {
        outline: none;
        border-color: var(--color-blue);
        fill:var(--color-blue);
    }
}

.join-us__title, 
.sign-up__title {
    color: var(--color-white);

    @extend %uppercase-font;
    
    margin-bottom: 20px;
}
