.hero {
    background-color: var(--footer-color);
    padding: 118px 0;
    width: 480px;
    margin: 0 auto;

    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .box {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .box {
                background-image: linear-gradient(to right, 
                rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        width: 1200px;
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .box {
                background-image: linear-gradient(to right, 
                rgba(47, 48, 58, 0.4), 
                rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
            }
        }
    }
}

.hero__conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.hero__title {
    color: var(--color-white); 
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;

    @media screen and (min-width: 481px) {
        width: 360px;  
    }

    @media screen and (min-width: 769px) {
        font-size: 44px;
        line-height: 1.36;

        width: 696px;  
    }
}


    
    // .hero__title {
    //     
    
    //     font-weight: 900;
    //     text-align: center;
    //     letter-spacing: 0.06em;
    //     text-transform: uppercase;
    
    //     width: 696px;
    //     margin-bottom: 30px;
    // }