/* Стилизация лого */
.logo {
    color: var(--color-logo);
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    
    &--reverse {
        color: var(--color-white);
        display: block;
        margin-bottom: 20px;
    }
}

.logo__web {
    color: var(--color-blue);
}

.header__logo {
        // margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
}
    