/* Модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--duration) var(--cubic), visibility var(--duration) var(--cubic);

    z-index: 5;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(1);
    // transition: transform var(--duration) var(--cubic);
    @include transition (transform);

    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--color-white);
    
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal__text {
    color: var(--color-black);

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
}

.form {
    position: relative;
    
}

.form__label {
    position: relative;
    
    display: block;
    width: 100%;
    margin-bottom: 10px;

    &:last-of-type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 0 12px;
    }
}

.form__input, 
.form__icon,
.form__msg {
    transition: border-color var(--duration) var(--cubic), fill var(--duration) var(--cubic); 
}

.form__input:focus, 
.form__input:focus + .form__icon,
.form__msg:focus {
    outline: none;
    border-color: var(--color-blue);
    fill:var(--color-blue);
}

.form__text {
    display: block;

    color: var(--color-grey);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
        
    margin-bottom: 4px;
}

.form__input, 
.form__msg {
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form__input {
    height: 40px;

    padding: 0 12px 0 42px;
}

.form__icon {
    position: absolute;
    top: 29px;
    left: 12px;
}

.form__msg {
    padding: 12px 16px;
    
    height: 120px;
    resize: none;
    
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    }
}

.form__msg-area {
    margin-bottom: 20px;
}

.form__user-policy {
    position: absolute;
}

.form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    
    fill:var(--color-white);
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-black);
    border-radius: 2px;

    // transition: background-color var(--duration) var(--cubic);
    @include transition (background-color);

    .form__user-policy:checked + & {
        border-color: var(--color-blue);
        background-color: var(--color-blue);          
    }
}


.form__policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.form__policy-conditions {
    position: relative;
    color: var(--color-blue);

    &::after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 0;
        
        width: 100%;
        height: 1px;
        background-color: currentColor;
    }
}




