/* Контент портфолио */
.portfolio {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;       
    }
}

.portfolio__item {
    margin-bottom: var(--margin-gap);

    &:last-child {
        margin-bottom: 0;
        align-self: start;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - var(--margin-gap)) / 2);

        &:nth-child(odd) {
            margin-right: var(--margin-gap);
        }        
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 2 * var(--margin-gap)) / 3);

        &:nth-child(odd) {
            margin-right: 0;
        }   
        
        &:not(:nth-child(3n)) {
            margin-right: var(--margin-gap);
        }    

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }    
    }
    
}

.project {
    display: block;

    // transition: box-shadow var(--duration) var(--cubic);
    @include transition (box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}    
    
.project__thumb {
    position: relative;

    overflow: hidden;
}

.project__img {
    width: 100%;
}

.project__description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    color: var(--color-white);
    background: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    padding: 63px 24px;

    transform: translatey(100%);

    transition: transform var(--duration) var(--cubic);
    
    .project:hover &,
    .project:focus & {
        transform: translatey(0);
    }
}
    
.project__content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.project__title {
    color: var(--color-black);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.project__text {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}