/* Стилизация секции */
.section {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;

        &--paddingbottom {
            padding-bottom: 0;
        }
    }
}

.section__title {
    color: var(--color-black);

    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 28px;
    line-height: 1.18;
    
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17; 
        margin-bottom: 50px;       
    }
}

.section__team {
    background-color:var(--background-color-grey);
}