/* Чем мы занимаемся */
.section__work {
    display: none;
    
    @media screen and (min-width: 1200px) {
        display: block;       
    }
}

.work {
    display: flex;    
}

.work__item {
    position: relative;
    
    &:not(:last-child) {
        margin-right: var(--margin-gap);
    }
}

.work__img {
    display: block;
    height: auto;
    flex-basis: calc((100% - 2 * var(--margin-gap)) / 3);
}

.work__text {
    position: absolute;
    left: 0;
    bottom: 0;
    
    color: var(--color-white);
    background: rgba(47, 48, 58, 0.8);
    
    @extend %uppercase-font;
    
    width: 100%;
    height: 70px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}